body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Start navbar */
.navbar {
    height: 100px;
    background-color: rgb(102, 178, 255);
    background-image: url("./img/pattern.png");
    background-size:20%;  
    position: relative;  
}

.navbar img{
    height: 40%;
    position: absolute;
    margin-top: 50px;
}
/* /navbar */

h1{
    font-size:30px;
}

.text-medium{
    font-size: medium;
}

.text-small{
    font-size: small;
}

.news-bg-grey{
    color: grey;
}

.text-booleaner{
    color: rgb(24, 171, 207);
}

.bg-yellow{
    background-color: yellow;
}

.text-center{
    text-align: center;
    background-color: brown;
    padding: 20px;
}